block vars
doctype html
html(lang="en")
  head
    title 30days | #{title}
    meta(charset="UTF-8")
    meta(content="Akinjide Bankole" name="author")
    meta(name="application-name" content="Javascript 30days")

    block styles
  body
    block body