extends base

block vars
  - var title = 'Help'

block styles
  link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C500%2C600&amp;ver=4.4.5")
  link(rel="stylesheet" type="text/css" href="help.css")

block body

  - var pages = ["drumKit", "clock", "cssJs", "cardio", "flexGallery", "ajaxAhead", "cardioTwo", "canvas", "devTool", "checkBoxes", "vidPlayer", "keyDetection"]

  header
    h2 I Love
  .pages
    ul#page-list
      each page in pages
        li
          a(href="/#{page}", rel="page" title="#{page} Page")
            h4.title #{page}