extends base

block vars
  - var title = 'Help'

block styles
  link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C500%2C600&amp;ver=4.4.5")
  link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css")
  link(rel="stylesheet" type="text/css" href="styles/help.css")

block body

  - var pages = ["drumKit", "clock", "cssJs", "cardio", "flexGallery", "ajaxAhead", "cardioTwo", "canvas", "devTool", "checkBoxes", "vidPlayer", "keyDetection", "slideScroll", "referenceAndCopy", "StorageAndEvent", "mouseEffect", "sortBandNames", "tally", "webCam", "speechRecognition", "speedometer.compass", "alongLinks", "speechSynthesis", "stickyNav", "eventCapture", "stripeAlongLinks", "clickAndDrag"]

  header
   //- h2 I Love
  .pages.wobble
    ul#page-list
      each page in pages
        li
          a(href="/#{page}", rel="page" title="#{page} Page")
            h4.title #{page}

  a.button__sticky(href="https://www.twitter.com/_akinjide" target="_blank")
      i.fa.fa-twitter
