extends base

block vars
  - var title = 'Sorting Band Nmes without articles'

block styles
  link(rel="stylesheet" type="text/css" href="styles/sortBandNames.css")

block body

  ul#bands

  script(type="text/javascript").
    const bands = ['The Plot in You', 'The Devil Wears Prada', 'Pierce the Veil', 'Norma Jean', 'The Bled', 'Say Anything', 'The Midway State', 'We Came as Romans', 'Counterparts', 'Oh, Sleeper', 'A Skylit Drive', 'Anywhere But Here', 'An Old Dog']

    const strip = bandName => bandName.replace(/^(a |an |the )/i, '').trim()

    const sortedBandNames = bands.sort((a, b) => strip(a) > strip(b) ? 1 : -1)

    document.querySelector('#bands')
      .innerHTML = sortedBandNames
        .map(band => `<li>${band}</li>`)
        .join('')