::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }

::-webkit-scrollbar { width: 4px; }

::-webkit-scrollbar-thumb { background-color: #000000; border: 1px solid #555555; }

body {
  font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666666;
  font-size: 13px;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

body .pages {
  height: 280px;
  width: 180px;
  overflow-y: auto;
  transition: 0.7s;
}

header {
  margin: 0 26px 0;
  text-transform: uppercase;
  font-size: 26px;
  color: #FFFFFF;
}

header h2 { font-weight: 100; }

h4 { font-size: 10px; }

.pages #page-list li a {
  color: inherit;
  opacity: 0.5;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.7s;
}

.pages #page-list li a:hover,
.pages #page-list li a:active { text-decoration: underline; color: #F2F2F2; }

.wobble {
    -webkit-animation-name: wobble;
    animation-name: wobble
    -webkit-animation-duration:1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes wobble {
  from {
    -webkit-transform: none;
    transform: none;
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes wobble {
  from {
    -webkit-transform: none;
    transform: none;
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

a.button__sticky > i {
  color: #4099FF;
}

a.button__sticky {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  width: 20px;
  transform: translateY(0);
  animation: updown 1.5s linear infinite alternate;
}

@keyframes updown {
  to {
   transform: translateY(-25px);
  }
}
